header {
    background-image: url("dnd dice logo.png");
    background-repeat: no-repeat;
    background-position: left;
    background-color: #35abb8;
    background-size: 100px 100px;
    height: 70px;
    text-align: center;
    padding-top: 30px;
    padding-left: 5.5em;
}

header :link {
    color: #dcbc59;
    text-decoration: none;
}

header :visited {
    color: #dcbc59;
    text-decoration: none;
}

header :hover {
    color: #dcbc59;
    text-decoration: none;
}


body {
    background-color: #f4ebd2;
    color: #160d03;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #dcbc59;
    margin-bottom: 0;
    font-family: Georgia, 'Times New Roman', serif;
    margin-top: 0%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

h2 {
    color: #dcbc59;
    font-family: Georgia, 'Times New Roman', serif;
    text-shadow: 1px #CCCCCC;
}

h3 {
    color: #160d03;
    font-family: Georgia, 'Times New Roman', serif;
}



nav {
    text-align: left;
    padding-left: 1em;
    float: left;
    font-size: 120%;
    font-weight: bold;
}

nav ul {
    marker: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.3em;
    text-decoration: none;
    list-style-type: none;
}

nav li {
    border-bottom: #dcbc59 3px dotted;
}

nav :link {
    color: #dcbc59;
}

nav :visited {
    color: #35abb8;
}

nav :hover {
    color: #66e2ef;
}

main {
        padding: 1px 20px 20px 30px;
        display: block;
        background-color: #f4ebd2;
        margin-left: 190px;
        float: initial;
        overflow: auto;
    }


a{
    text-decoration: none;
}



dt {
    color: #160d03;
}


main ul {
    list-style-image: url("marker.gif");
}




footer {
        font-size: 0.75em;
        font-style: italic;
        font-family: Georgia, 'Times New Roman', serif;
        padding: 2em;
        text-align: center;
        background-color: #f4ebd2;
    }


